<div id="dream-index"></div>
<button id="refresh">Refresh</button><br>
<!-- REV: I like how you formatted the form. -->
<!-- REV: Wish you had added some h1, h2 tags to delineate content -->
<div id="dream-form">
  <label>Title<input type="text" id="dream-text-field" value=""></label><br>
  <label>Date<input type="date" id="dream-date-field" value=""></label><br>
  <label>Entry<textarea id="dream-text-area" value=""></textarea></label><br>
  <button id="submit-dream">Submit</button>
</div>

<div id="dream-view"></div>

<script type="text/javascript">
$(function(){
  var dreamIndexEl = $("#dream-index");
  var refreshButtonEl = $("#refresh");
  var dreamIndexView = new DS.DreamIndexView(dreamIndexEl, refreshButtonEl);

  DS.Dream.fetchAll();
  dreamIndexView.bind();


	//REV: Nice solution. This is right where I got stuck on Friday.
  dreamIndexEl.on("click", "li", function(){
    var dreamEl = $(this);
    var dreamViewEl = $("#dream-view");
    var dreamView = new DS.DreamView(dreamEl, dreamViewEl);
  })

  var dreamTextFieldEl = $("#dream-text-field");
  var dreamDateFieldEl = $("#dream-date-field");
  var dreamTextAreaEl = $("#dream-text-area");
  var submitButton = $("#submit-dream");

  var dreamFormView = new DS.DreamFormView(
    dreamTextFieldEl,
    dreamDateFieldEl,
    dreamTextAreaEl,
    submitButton,
    function(newDream){
      newDream.save();
    }
  )
  dreamFormView.bind();

})
</script>